@font-face{
    font-family: 'Dosis';
    src: local('Dosis'), url(./fonts/Dosis/Dosis-VariableFont_wght.ttf) format("truetype");
}

@font-face{
    font-family: 'Oswald';
    src: local('Oswald'), url(./fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}

#imageCover{
    position: relative;
    top: 0;
    left: 0;
    background-image: url(./images/logo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;    
    opacity: 0.1;
}

.posAbsolute{
    position: absolute;
}
.posRelative{
    position: relative;
}